@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

html, body {
    background: transparent;
}

body {
    overflow: hidden;
}

.hidden {
    display: none;
}

/* -------- Dudes! -------- */

.dude {
    position: absolute;
    /*width: 436px;*/
    /*height: 377px;*/
}

.dude-img {
    width: 406px;
    height: 237px;
    border: 3px inset #dfdfdf;
}

.dude.red .dude-img {
    background: url(../img/red-legacy.png) 0 0 red;
    /*background: url(../img/red.png) 0 0 red;*/
}

.dude.blue .dude-img {
    background: url(../img/blue-legacy.png) 0 0 blue;
    /*background: url(../img/blue.png) 0 0 blue;*/
}

/* -------- Extra Dudes -------- */

.extra-dude {
    background: url(../img/transparent.png);
    width: 380px;
    height: 218px;

    position: absolute;
}

/* -------- Wednesday Jumping Dude -------- */

@keyframes wed-jump-two {
    0% { transform: rotate(0); bottom: -300px; }
    50% { transform: rotate(200deg); bottom: 300px; }
    100% { transform: rotate(400deg); bottom: -300px; }
}

@keyframes wed-jump-one {
    0% { transform: rotate(0); bottom: -300px; }
    50% { transform: rotate(-100deg); bottom: 300px; }
    100% { transform: rotate(100deg); bottom: -300px; }
}

@keyframes wed-jump {
    0% { transform: rotate(0); bottom: -300px; }
    50% { transform: rotate(100deg); bottom: 300px; }
    100% { transform: rotate(-100deg); bottom: -300px; }
}

.wed-jumping0 {
    animation: wed-jump;
}

.wed-jumping1 {
    animation: wed-jump-one;
}

.wed-jumping2 {
    animation: wed-jump-two;
}

.wed-jumping-dude {
    bottom: -300px;
    right: 100px;

    animation-duration: 1s;
    animation-timing-function: ease-in;
    /*animation-iteration-count: infinite;*/
    animation-direction: normal;
}

/* -------- Jumping Dude -------- */

@keyframes jump-from-left {
    0% { transform: rotate(0); bottom: 0; left: -50vw; }
    50% { transform: rotate(720deg); bottom: 600px; left: 50vw; }
    100% { transform: rotate(1080deg); bottom: 0; left: 150vw; }
}
.jumping-from-left {
    animation: jump-from-left;
}
.dude-from-left {
    left: -50vw;
    bottom: 0;
}

@keyframes jump-from-right {
    0% { transform: rotate(0); bottom: 0; right: -50vw; }
    50% { transform: rotate(720deg); bottom: 600px; right: 50vw; }
    100% { transform: rotate(1080deg); bottom: 0; right: 150vw; }
}
.jumping-from-right {
    animation: jump-from-right;
}
.dude-from-right {
    right: -50vw;
    bottom: 0;
}


@keyframes jump-from-top {
    0% { transform: rotate(0); top: -50vw; }
    50% { transform: rotate(720deg); top: 50vw; }
    100% { transform: rotate(1080deg); top: 150vw; }
}
.jumping-from-top {
    animation: jump-from-top;
}
.dude-from-top {
    top: -50vw;
    left: calc(50vw - 190px);
}

@keyframes jump-from-bottom {
    0% { transform: rotate(0); bottom: -50vw; }
    50% { transform: rotate(720deg); bottom: 50vw; }
    100% { transform: rotate(1080deg); bottom: 150vw; }
}
.jumping-from-bottom {
    animation: jump-from-bottom;
}
.dude-from-bottom {
    bottom: -50vw;
    left: calc(50vw - 190px);
}

.jumping-dude {
    animation-duration: 1.5s;
    animation-timing-function: linear;
    /*animation-iteration-count: infinite;*/
    animation-direction: normal;
}

/* -------- Wise Dude -------- */

@keyframes saying-appear {
    0% { transform: rotate(90deg); bottom: -350px; }
    100% { transform: rotate(0); bottom: 0; }
}

@keyframes saying-disappear {
    0% { transform: rotate(0); bottom: 0; }
    100% { transform: rotate(-90deg); bottom: -350px; }
}

fieldset {
    position: absolute;
    width: 300px;
    bottom: 220px;
    right: 100px;
    opacity: 1;

    transition: opacity 1s;
}

fieldset div {
    line-height: 1.5em;
    font-size: large;
    hyphens: auto;
}

fieldset.off {
    opacity: 0;
}

.saying-appear { animation: saying-appear; }
.saying-disappear { animation: saying-disappear; }

.saying-dude {
    width: 406px;
    height: 236px;
    background: url(../img/red.png) 0 0;

    position: absolute;
    bottom: -350px;
    right: 70px;

    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-iteration-count: infinite;*/
    animation-direction: normal;
    animation-fill-mode: both;
}

.saying-dude.silent {
    background: url(../img/silent.png);
}
